 <header class="header">
    <nav class="nav-container">
        <div class="logo">
            <h1>Camilo Acevedo</h1>
        </div>
        <ul class="nav-menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
</header>